body {
	font-family: 'Karla', sans-serif;
	margin: 0;
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

main {
	margin: 0 auto;
}

#banner{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*background: rgba(66,86,79,0.2) ;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;*/
	color: red;
}